body{
    display: flex;
    flex-direction: column;
}

section {    
    display: flex;
    flex-direction: column;
    padding: 3vh;
}

img {
   
    max-width: 45vw;

}

h2{
    margin: 2vh 0;
}

p{
    line-height: 2;
    font-size: large;

}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 0;
    
}

figcaption{
    margin-top: 2vh;
    max-width: 45vw;

}

@media only screen and (min-width: 400px){
h2 {
    font-size: 2rem
}

p, figcaption {
    font-size: 1.5rem;
}

}

@media only screen and (min-width: 850px){
    h2 {
        font-size: 2rem
    }
    
    p, figcaption {
        font-size: 1.1rem;
    }
    
    img {
   
        max-width: 25vw;
    
    }

    figure{
        display: flex;
        flex-direction: column;
        
        margin: 2vh 0;
        
    }

    section:last-of-type {
        flex-direction: row;
    }

}