body{
    display: flex;
    flex-direction: column;
}

section {    
    display: flex;
    flex-direction: column;
    padding: 3vh;
}

h2{
    margin: 2vh 0;
}

p{
    line-height: 2;
    font-size: large;

}

ulist{
    line-height: 1.5;
    margin-top: 2vh;
    margin-left: 5vh;
}

h2:hover{
    color: aqua;
}

@media only screen and (min-width: 400px){


@media only screen and (min-width: 850px){


}
}