

body{
    display: flex;
    flex-direction: column;
}



section{
    display: flex;
    flex-direction: column;
    
    position: relative;
    
    padding-left: 5vh;
    padding-right: 5vh;
    
    align-items: center;
}

h1 {
    text-align: center;
    margin: 5vh 0 0 0;
    font-weight: 700;
    font-size: 400%;
}

img {
    position: relative;
    margin: 2vh;
    border: 2px solid black;
    padding: 10px;
    size: 10vh;
}

h2 {
    text-align: center;
    margin-top: 10vh;
}

section:last-of-type {
    display: flex;
    flex-direction: row;
    position: relative;
    
    background-color: rgba(91, 109, 127, 0.5);
    min-height: 25vh;
    padding: 0;
    /*min-width: 130vw;*/

}


