

body{
    display: flex;
    flex-direction: column;
}


section, aside {
    display: flex;
    flex-direction: column;
    
    position: relative;
    
    padding-left: 5vh;
    padding-right: 5vh;
    
    align-items: center;

    
}

h1 {
    text-align: center;
    margin: 5vh 0 0 0;
    font-weight: 700;
    font-size: 400%;
}

#header-section {
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

#banner{
    position: static;
    z-index: -1;
    border: 0;
    margin: 0;
    max-width: 100vw;
    min-height: 40vh;
    border-radius: 0;
    
}



#profile {
   position: absolute;
      
    margin: 2vh;
    border: 1px solid black;

    width: 18vh;
    border-radius: 150px;
}

h2 {
    text-align: center;
    margin-top: 4vh;
}

/*use section:last-of-type to target the paragraph before social media icons*/

section:last-of-type{
    max-width: 850px;
 }


aside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin-top: 5vh;
    
    
    background-color: rgba(91, 109, 127, 0.5);
    min-height: 10vh;
    
    min-width: 100vw;
    
}




.logo {
    position: relative;
    width: 5vh;
    height: 5vh;
    margin: 0 2vw;
    border: 0;
    right: 0;
}

.tooltip{
    position: relative;
    display: inline-block;
    
}

.tooltip .show-number{
    visibility: hidden;
    width: 90px;
    background-color:rgba(64, 195, 81, 1);
    color: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 6px;
    padding: 4px;
    z-index: 1;
    position: absolute;
    
    right: 6px;
    font-size: small;

}

.tooltip:hover .show-number {
    visibility: visible;
}

/*REQUIRED TO SHOW THE PROFILE IMAGE OFF-CENTRE 
ON SMALLER DEVICES*/
@media only screen and (max-width: 399px){
    #banner{
       right: 0;
    }
    #profile {
       right: 45vw;
    }

   

}


@media only screen and (min-width: 400px) and (max-width: 849px){
    #banner{
        right: 0;
     }
     #profile {
        right: 55vw;
        border-width: 3px;
     }

     h1{
        margin-bottom: 2vh;
    }

    aside {
        font-size: 1.5rem;
       
     }


}


@media only screen and (min-width: 850px){
    h1{
        margin-bottom: 2vh;
    }

    #profile {
        right: 55vw;
        border-width: 3px;
        width: 20%;
     }

     


     aside {
        font-size: 1.5rem;
        justify-content: center;
     }


     .tooltip .show-number{
        position: relative;
        width: 120px;
        bottom: 15px;
        font-size: small ;
        padding: 9px;
     }
    
}