

body{
    display: flex;
    flex-direction: column;
}


section{
    display: flex;
    flex-direction: column;
    
    position: relative;
    
    padding-left: 5vh;
    padding-right: 5vh;
    
    align-items: center;
}

h1 {
    text-align: center;
    margin: 5vh 0 0 0;
    font-weight: 700;
    font-size: 400%;
}

#header-section {
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

.banner{
    position:relative ;
    z-index: -1;
    border: 0;
    margin: 0;
    max-width: 100vw;
    min-height: 40vh;
    border-radius: 0;
    
}



img {
   position: absolute;
      
    margin: 2vh;
    border: 1px solid black;

    max-width: 18vh;
    border-radius: 100px;
}

h2 {
    text-align: center;
    margin-top: 4vh;
}

section:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    

    
    background-color: rgba(91, 109, 127, 0.5);
    min-height: 10vh;
    
    min-width: 100vw;
    
}




.logo {
    position: relative;
    width: 5vh;
    height: 5vh;
    margin: 0;
    border: 0;
    right: 0;
}

.tooltip{
    position: relative;
    display: inline-block;
    
}

.tooltip .show-number{
    visibility: hidden;
    width: 120px;
    background-color:rgba(64, 195, 81, 1);
    color: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 6px;
    padding: 9px;
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 1px;
    
    /* USE THESE SETTINGS FOR LARGER SCREENS
    position: absolute;
    top: 25%;
    */
}

.tooltip:hover .show-number {
    visibility: visible;
}

/*REQUIRED TO SHOW THE PROFILE IMAGE OFF-CENTRE 
ON SMALLER DEVICES*/
@media only screen and (max-width: 399px){
    .banner{
       right: 0;
    }
    img {
       right: 45vw;
    }

   

}


@media only screen and (min-width: 400px){
    .banner{
        right: 0;
     }
     img {
        right: 45vw;
     }

     h1{
        margin-bottom: 2vh;
    }


}


@media only screen and (min-width: 850px){
    h1{
        margin-bottom: 2vh;
    }




}