body{
    display: flex;
    flex-direction: column;
}

h2{
    padding: 2vh;
    text-align: center;
}

.skills {
    position: relative;
    display: block;
    max-width: 540px;
}

.category {
    border: 1px solid black;
    min-height: 7vh;
    font-size: 3vh;
    background-color: #04AA6D;
    color: white;
   /* background-color: rgba(256,256,256, 0.6); */
    padding: 2vh 5vh;
    
    text-wrap: wrap ;
    transition: background-color 2s;
}


.dropdown {
   display: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 5vh;
    padding-right: 5vh;
    position: relative;
    justify-content: center;
    background-color: white;
    /*background-color: rgb(187, 185, 185);*/
    color: white;
    z-index: 1;
}


.dropdown ul {
    color: salmon;
    display: block;
    align-items: center;
       
}

/*Show item list on hover*/
.skills:hover .dropdown {
    display: flex;
    align-items: center;
    
}

/*Applies transition effect to heading on hover*/
.skills:hover .category {
    background-color: rgb(256, 256, 256);
    border-bottom: none;
    text-align: center;
    color: #04AA6D;
}

/*Optional: effects on hovering list items*/
.dropdown ul>li:hover {
    background-color: pink;
}




li {
    list-style: square; 
    font-size: 2vh;
 
}

ul>p {
    margin-top: 15px;
    padding: -10px  ;
    font-size: 2vh;
    color:#04AA6D ;
    }


em {
    font-size: smaller;
    font-style: normal;
}

footer{
    position: absolute ;
    bottom: -40px;

}


@media only screen and (min-width: 400px) and (max-width: 849px){
    .skills {
        min-width: 540px;
        
        }
    }

@media only screen and (min-width: 850px){
    .skills {
    min-width: 600px;
    
    }

}
