

body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgba(91, 109, 127, 0.5);
    min-height: 5vh;
    padding: 0;
 
}

div{
    
    padding: 0.75vh 1.5vh ;
    
}

div:hover{
    background-color: dimgrey;
    color: whitesmoke;
    font-weight: bold;
}

section{
    display: flex;
    flex-direction: column;
    
    position: relative;
    
    padding-left: 5vh;
    padding-right: 5vh;
    
    align-items: center;
}

h1 {
    text-align: center;
    margin: 5vh 0 0 0;
    font-weight: 700;
    font-size: 400%;
}

img {
    position: relative;
    margin: 2vh;
    border: 2px solid black;
    padding: 10px;
    size: 10vh;
}

h2 {
    text-align: center;
    margin-top: 10vh;
}

section:last-of-type {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -45vh;
    background-color: rgba(91, 109, 127, 0.5);
    min-height: 25vh;
    padding: 0;
    /*min-width: 130vw;*/

}


footer{
    display: flex;
    flex-direction: row;
    position:absolute;
    bottom: -50vh;
    font-size: small;

    min-height: 5vh;
    min-width: 130vw;
}