/*This is a generic style sheet which is used by all of the HTML files in this project
It contains basic layouts common to all pages and font styling, sizing, colouring etc 
Specific styling required by individual pages is located in that page's specific css file.*/

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;

    font-family: 'Gayathri', sans-serif;
    
   
   color: rgb(55, 92, 114);
}

body {
    background: rgb(223, 222, 222)  url(./images/geo-background-1.jpg);
    background-size: 100vh;
   background-position: auto;
    
  
}



