html, body{
  font-size: 50px;
}

div {
    border-radius: 50%;
    display: flex;
   }
   
   #one{
     background-color: orange;
     width: 20rem;
     height: 20rem;
     border: solid 2rem red;
      }
   
   .two{
    background-color: green;
     width: 12rem;
     height: 12rem;
     border: solid 2rem yellow;
     position: relative;
     left: 4rem;
     bottom: 20rem;
   }
   

   .three{
   background-color: rebeccapurple;
     width: 2rem;
     height: 2rem;
     border: solid 1rem royalblue;  
    
     position: relative;
     left: 8rem;
     bottom: 32rem;
    
   }
   